@import "vars"

@media only screen and (max-width: 600px)
  .photo__item
    padding: 1vw 2vw
  .photo__item-img
    width: 14vw
    height: 14vw
  .more_btn
    width: 14vw 
    height: 14vw
  .age,
  .name
    font-size: 2.7vw
@media only screen and (max-width: 370px)
  h2
    font-size: 19px

  .sub-title
    font-size: 14px




